<p>
Sie sehen hier eine Liste von Links, die auf Texte verweisen, die anscheinend die Eigenschaft
"<%= @items[0].category.find(:first,:conditions => {"meta_id" => params[:id1] }).description %>"
haben. Klicken Sie auf "falsch", um einen Link als falsch einsortiert zu markieren.
</p>
<table>
<% @items.each do |item| %>
<tr>
<% if @display_confidence %>
<% if !@confidence_color_code %>
<td><%= item.category[0].confidence %></td>
<% else %>
<td style='background-color:#<%=
a=Float(item.category[0].confidence )
if a>0.9
   b='0f0'
elsif a>0.8
   b='7f0'
elsif a>0.7
   b='770'
elsif a>0.6
   b='730'
elsif a>0.5
   b='f00'
end
b
%>'>&nbsp</td>
<% end %>
<% end %>
<% if @change_category %>
<% @categories.each do |cat| %>
<% if cat.category_id != item.category.find(:first,:conditions => {"meta_id" => params[:id1] }).category_id %>
<td>
<form method='post' action='/hint/new_by_ids/'><input type='hidden' name='item' value='<%=item.item_id%>'><input type='hidden' name='meta' value='<%=params[:id1]%>'><input type='hidden' name='category' value='<%=cat.category_id%>'><input type='submit' value='falsch'></form>
</td>
<% end %>
<% end %>
<% end %>
<td><a href='<%= item.escapedLink %>'><%=item.escapedLink%></a></td>
<% if @display_category %>
<td><%= item.category[0].name %></td>
<% end %>
</tr>
<% end %>
</table>